<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('admin_main_images') }}">Main Images</a></li>
            <li><a href="{{ url_for('admin_main_text') }}">Main Text</a></li>
            <li><a href="{{ url_for('admin_featured') }}">Products</a></li>
            <li><a href="{{ url_for('admin_discount') }}">About</a></li>
            <li><a href="{{ url_for('admin_end_work') }}">Our Works</a></li>
            <li><a href="{{ url_for('admin_employee') }}">Employee</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
