<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ==================== FAVICON ==================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    <!-- ==================== REMIXICONS ==================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!-- ==================== SWIPER CSS ==================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">

    <!-- ==================== CSS ==================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <title>Redline</title>
</head>
<body>
    <!-- ==================== HEADER ==================== -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="" class="nav__logo">
                <img src="{{ url_for('static', filename='images/medium-logo.png') }}" alt="" width="100">
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="ri-home-line"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#featured" class="nav__link">
                            <i class="ri-book-3-line"></i>
                            <span>Products</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#discount" class="nav__link">
                            <i class="ri-price-tag-3-line"></i>
                            <span>Our Works</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#new" class="nav__link">
                            <i class="ri-bookmark-line"></i>
                            <span>About</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#testimonial" class="nav__link">
                            <i class="ri-message-3-line"></i>
                            <span>Staff</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="nav__actions">
                <!-- Search button -->
                <i class="ri-search-line search-button" id="search-button"></i>

                <!-- Login button -->
                <i class="ri-customer-service-line login-button" id="login-button"></i>

                <!-- Theme button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>
            </div>
        </nav>
    </header>

    <!-- ==================== SEARCH ==================== -->
    <div class="search" id="search-content">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
        </form>

        <i class="ri-close-line search__close" id="search-close"></i>
    </div>

    <!-- ==================== LOGIN ==================== -->
    <div class="login grid" id="login-content">
        <form action="/submit_form_bot" class="login__form grid" method="post">
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash-container">
                <div class="flash-message flash-{{ cat }}">{{msg}}</div>
            </div>
            {% endfor %}
            <h3 class="login__title">Leave request</h3>

            <div class="login__group grid">
                <div>
                    <label for="login-email" class="login__label">Phone</label>
                    <input type="text" placeholder="Write your phone" id="login-email" pattern="[0-9+]{10,}" title="Только цифры и символ '+', минимум 10 символов" class="login__input" name="phone">
                </div>

                <div>
                    <label for="login-pass" class="login__label">Message</label>
                    <input type="text" placeholder="Enter your message" id="login-pass" class="login__input" name="message">
                </div>
            </div>
            <div>
                <span class="login__signup">
                    Write your wishes
                </span>

                <a href="" class="login__forgot">
                    And we'll do the rest
                </a>

                <button type="submit" class="login__button button">
                    Send
                </button>
            </div>

        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
    </div>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        <!-- ==================== HOME ==================== -->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">Ideas <br>
                        Illuminating <span style="color: red;">Lines</span> 
                    </h1>
                    <p class="home__description">
                        В каждом пикселе могущественное волшебство, 
                        в каждой строке кода - загадочные тени истории. 
                        Давайте вместе покажем вселенной ваш уникальный мир!
                    </p>

                    <a href="#" class="button" id="explore-button">Explore Now</a>
                </div>
                <div class="home__images">
                    <div class="home__swiper swiper">
                        <div class="swiper-wrapper">
                            {% for image in image_names %}
                                <article class="home__article swiper-slide">
                                    <img src="{{ url_for('get_image2', filename='' + image.filename) }}" alt="image" class="home__img">
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> 
        </section>

        <!-- ==================== SERVICES ==================== -->
        <section class="service section">
            <div class="services__container container grid">
              
                    <article class="services__card">
                        <i class="ri-quill-pen-fill"></i>
                        <h3 class="services__title">Awesome Design</h3>
                        <p class="services_description">Create your design</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-code-s-slash-line"></i>
                        <h3 class="services__title">IT Products</h3>
                        <p class="services_description">Interesting IT solutions</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-customer-service-2-fill"></i>
                        <h3 class="services__title">24/7 Suport</h3>
                        <p class="services_description">Call us anytime </p>
                    </article>
               
            </div>
        </section>

        <!-- ==================== FEATURED ==================== -->
        <section class="featured section" id="featured">
            <h2 class="section__title">
                Select Your Product
            </h2>

            <div class="featured__container container">
                <div class="featured__swiper swiper">
                    <div class="swiper-wrapper">
                        {% for featured in featureds %}
                            <article class="featured__card swiper-slide">
                                <img src="{{ url_for('get_image', filename='featured/' + featured.filename) }}" alt="image" class="featured__img">
                                <h2 class="featured__title">{{ featured.title }}</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount"></span>
                                    <span class="featured__price">{{ featured.price }}</span>
                                </div>

                                <button class="button">{{featured.discount}}</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>
                        {% endfor %}
                    </div>

                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>

                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== DISCOUNT ==================== -->
        <section class="new section" id="new">
            <div class="discount__container container grid">
                <div class="discount__data">
                    <h2 class="discount__title section__title">
                        О <span style="color: red;">R</span>ed<span style="color: red;">l</span>ine
                    </h2>
                    <p class="discount__description">
                        Redline - это компания, которая создает дизайн, 
                        логотипы и сайты для любого бизнеса. 
                        Мы знаем, как сделать ваш визуальный образ уникальным и привлекательным, 
                        чтобы выделяться среди конкурентов.
                    </p>

                    <a href="#" class="button" id="discount-button">Shop Now</a>
                </div>

                <div class="discount__images">
                    <img src="{{ url_for('static', filename='images/discount_image1.png') }}" alt="image" class="discount__img-1">
                    <img src="{{ url_for('static', filename='images/discount_image2.png') }}" alt="image" class="discount__img-2">
                </div>

            </div>
        </section>


        <!-- ==================== NEW BOOKS ==================== -->
        <section class="discount section" id="discount">
            <h2 class="section__title">
                Our works
            </h2>

            <div class="new__container container">
                <div class="new__swiper swiper">
                    <div class="swiper-wrapper">
                    {% for work in works %}
                        <a href="#" class="new__card swiper-slide">
                            <img src="{{ url_for('get_image', filename='works/' + work.filename) }}" alt="image" class="new__img">

                            <div>
                                <h2 class="new__title">{{ work.title }}</h2>
                                <div class="new__prices">
                                    <span class="new__discount"> {{ work.discount }}</span>
                                    <span class="new__price">{{ work.price }}</span>
                                </div>

                                <div class="new__stars">
                                {% for i in range(work.stars) %}
                                    <i class="ri-star-fill"></i>
                                {% endfor %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>

                <div class="new__swiper swiper">
                    <div class="swiper-wrapper">
                    {% for work in works|sort(attribute='filename', reverse=True) %}
                        <a href="#" class="new__card swiper-slide">
                            <img src="{{ url_for('get_image', filename='works/' + work.filename) }}" alt="image" class="new__img">

                            <div>
                                <h2 class="new__title">{{ work.title }}</h2>
                                <div class="new__prices">
                                    <span class="new__discount"> {{ work.discount }}</span>
                                    <span class="new__price">{{ work.price }}</span>
                                </div>

                                <div class="new__stars">
                                {% for i in range(work.stars) %}
                                    <i class="ri-star-fill"></i>
                                {% endfor %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== JOIN ==================== -->
        <section class="join section">
            <div class="join__container" id="consult">
                <img src="{{ url_for('static', filename='images/join-bg.jpg') }}" alt="image" class="join__bg">

                <div class="join__data container grid">
                    <h2 class="join__title section__title">
                        Get a free consultation <br>
                        For your company
                    </h2>

                    <form action="/consult_form_bot" class="join__form" method="post">
                        {% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash-container">
                            <div class="flash-message flash-{{ cat }}">{{msg}}</div>
                        </div>
                        {% endfor %}
                        <input type="text" placeholder="Enter phone" class="join__input" pattern="[0-9+]{10,}" title="Только цифры и символ '+', минимум 10 символов" name="phone">
                        <button type="submit" class="join__button button">Get</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- ==================== TESTIMONIAL ==================== -->
        <section class="testimonial section" id="testimonial">
            <h2 class="section__title">
                Our craftsmen 
            </h2>

            <div class="testimonial__container container">
                <div class="testimonial__swiper swiper">
                    <div class="swiper-wrapper">
                    {% for employee in employees %}
                        <article class="testimonial__card swiper-slide">
                            <img src="{{ url_for('get_image', filename='employee/' + employee.filename) }}" alt="image" class="testimonial__img">

                            <h2 class="testimonial__title">{{ employee.title }}</h2>
                            <p class="testimonial__description">{{ employee.description }}</p>

                            <div class="testimonial__stars">
                                {% for i in range(employee.stars) %}
                                    <i class="ri-star-fill"></i>
                                {% endfor %}
                            </div>
                        </article>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- ==================== FOOTER ==================== -->
    <footer class="footer">
        <div class="footer__container container grid">
            <div>
                <a href="#" class="footer__logo">
                    <img src="{{ url_for('static', filename='images/medium-logo.png') }}" alt="" width="100">
                </a>

                <p class="footer__description">
                    Find and explore the best <br>
                    Redline from all your <br>
                    favorite designers.
                </p>
            </div>

            <div class="footer__data grid">
                <div>
                    <h3 class="footer__title">About</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Awards</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">FAQs</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Terms of services</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Company</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Blogs</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Community</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Our team</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Help center</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Contact</h3>

                    <ul class="footer__links">
                        <li>
                            <address class="footer__info">
                                Турусбекова, 109/3 <br>
                                8 этаж, 800 каб.
                            </address>
                        </li>

                        <li>
                            <address class="footer__info">
                                redline@gmail.com <br>
                                +996 707-123-456
                            </address>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Social</h3>

                    <div class="footer__social">
                        <a href="" target="-blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>

                        <a href="" target="-blank" class="footer__social-link">
                            <i class="ri-telegram-line"></i>
                        </a>

                        <a href="" target="-blank" class="footer__social-link">
                            <i class="ri-whatsapp-line"></i>
                        </a>

                    </div>
                </div>

            </div>
        </div>

        <span class="footer__copy">
            &#169; All Rights Reserved By Redline
        </span>
    </footer>

    <!-- ==================== SCROLL UP ==================== -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <script>
        function scrollToButton() {
            // Используйте JavaScript для прокрутки к кнопке
            var button = document.getElementById('login-button');
            button.scrollIntoView({ behavior: 'smooth' });
        }
    </script>

    <!-- ======================== SCROLLREVEAL ======================== -->
    <script src="{{ url_for('serve_js', filename='scrollreveal.min.js')}}"></script>

    <!-- ======================== SWIPER JS ======================== -->
    <script src="{{ url_for('serve_js', filename='swiper-bundle.min.js') }}"></script>

    <!-- ======================== MAIN JS ======================== -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>