<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==================== FAVICON ==================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    <!-- ==================== REMIXICONS ==================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!-- ==================== SWIPER CSS ==================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">

    <!-- ==================== CSS ==================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <title>Redline</title>
</head>
<body>
    <!-- ==================== HEADER ==================== -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="" class="nav__logo">
                <img src="{{ url_for('static', filename='images/medium-logo.png') }}" alt="" width="100">
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">
                            <i class="ri-home-line"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#featured" class="nav__link">
                            <i class="ri-book-3-line"></i>
                            <span>Featured</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#discount" class="nav__link">
                            <i class="ri-price-tag-3-line"></i>
                            <span>Discount</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#new" class="nav__link">
                            <i class="ri-bookmark-line"></i>
                            <span>New Books</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#testimonial" class="nav__link">
                            <i class="ri-message-3-line"></i>
                            <span>Testimonial</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="nav__actions">
                <!-- Search button -->
                <i class="ri-search-line search-button" id="search-button"></i>

                <!-- Login button -->
                <i class="ri-customer-service-line login-button" id="login-button"></i>

                <!-- Theme button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>
            </div>
        </nav>
    </header>

    <!-- ==================== SEARCH ==================== -->
    <div class="search" id="search-content">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
        </form>

        <i class="ri-close-line search__close" id="search-close"></i>
    </div>

    <!-- ==================== LOGIN ==================== -->
    <div class="login grid" id="login-content">
        <form action="" class="login__form grid">
            <h3 class="login__title">Log In</h3>

            <div class="login__group grid">
                <div>
                    <label for="login-email" class="login__label">Email</label>
                    <input type="email" placeholder="Write your phone" id="login-email" class="login__input">
                </div>

                <div>
                    <label for="login-pass" class="login__label">Password</label>
                    <input type="email" placeholder="Enter your message" id="login-pass" class="login__input">
                </div>
            </div>
            <div>
                <span class="login__signup">
                    You do not have an account? <a href="#">Sign up</a>
                </span>

                <a href="" class="login__forgot">
                    You forgot your password?
                </a>

                <button type="submit" class="login__button button">
                    Send
                </button>
            </div>

        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
    </div>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        <!-- ==================== HOME ==================== -->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">Ideas <br>
                        Illuminating <span style="color: red;">Lines</span> 
                    </h1>
                    <p class="home__description">
                        В каждом пикселе могущественное волшебство, 
                        в каждой строке кода - загадочные тени истории. 
                        Давайте вместе покажем вселенной ваш уникальный мир."
                    </p>

                    <a href="#" class="button">Explore Now</a>
                </div>
                <div class="home__images">
                    <div class="home__swiper swiper">
                        <div class="swiper-wrapper">
                            {% for image in image_names %}
                                <article class="home__article swiper-slide">
                                    <img src="{{ url_for('get_image', filename='' + image) }}" alt="image" class="home__img">
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> 
        </section>

        <!-- ==================== SERVICES ==================== -->
        <section class="service section">
            <div class="services__container container grid">
              
                    <article class="services__card">
                        <i class="ri-quill-pen-fill"></i>
                        <h3 class="services__title">Awesome Design</h3>
                        <p class="services_description">Create your design</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-code-s-slash-line"></i>
                        <h3 class="services__title">IT Products</h3>
                        <p class="services_description">Interesting IT solutions</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-customer-service-2-fill"></i>
                        <h3 class="services__title">24/7 Suport</h3>
                        <p class="services_description">Call us anytime </p>
                    </article>
               
            </div>
        </section>

        <!-- ==================== FEATURED ==================== -->
        <section class="featured section" id="featured">
            <h2 class="section__title">
                Featured Products
            </h2>

            <div class="featured__container container">
                <div class="featured__swiper swiper">
                    <div class="swiper-wrapper">
                        {% for featured in featureds %}
                            <article class="featured__card swiper-slide">
                                <img src="{{ url_for('get_image', filename='featured/' + featured.filename) }}" alt="image" class="featured__img">
                                <h2 class="featured__title">{{ featured.title }}</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">{{featured.discount}}</span>
                                    <span class="featured__price">{{ featured.price }}</span>
                                </div>

                                <button class="button">Order</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>
                        {% endfor %}
                    </div>

                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>

                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== DISCOUNT ==================== -->
        <section class="new section" id="new">
            <div class="discount__container container grid">
                <div class="discount__data">
                    <h2 class="discount__title section__title">
                        О <span style="color: red;">R</span>ed<span style="color: red;">l</span>ine
                    </h2>
                    <p class="discount__description">
                        Redline - это компания, которая создает дизайн, 
                        логотипы и сайты для любого бизнеса. 
                        Мы знаем, как сделать ваш визуальный образ уникальным и привлекательным, 
                        чтобы выделяться среди конкурентов.
                    </p>

                    <a href="" class="button">Shop Now</a>
                </div>

                <div class="discount__images">
                    <img src="{{ url_for('static', filename='images/discount_image1.png') }}" alt="image" class="discount__img-1">
                    <img src="{{ url_for('static', filename='images/discount_image2.png') }}" alt="image" class="discount__img-2">
                </div>

            </div>
        </section>


        <!-- ==================== NEW BOOKS ==================== -->
        <section class="discount section" id="discount">
            <h2 class="section__title">
                Our wor
            </h2>
        </section>

        <!-- ==================== JOIN ==================== -->
        <section class="join section">

        </section>

        <!-- ==================== TESTIMONIAL ==================== -->
        <section class="testimonial section" id="testimonial">

        </section>
    </main>
    <!-- ==================== FOOTER ==================== -->
    <footer class="footer"></footer>

    <!-- ==================== SCROLL UP ==================== -->
    <!-- ======================== SCROLLREVEAL ======================== -->
    <script></script>

    <!-- ======================== SWIPER JS ======================== -->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js')}}"></script>

    <!-- ======================== MAIN JS ======================== -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>